.playlistCard {
    display: flex;
    align-items: center;
    background-color: var(--spotify-dark-gray);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    gap: 0.8rem;
    transition: background-color 0.3s ease;
}
.playlistCard:hover {
    background-color: var(--spotify-light-gray);
}

.image {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tracksCount {
    color: #b3b3b3;
    font-size: 12px;
    margin: 4px 0 0 0;
    text-align: left;
}


.playlistCard.compact {
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    gap: 0;
    overflow: hidden;
}

.compact .image {
    width: 64px;
    min-width: 64px;
    height: 64px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.compact .textContainer {
    padding: 0 0.5rem;
    justify-content: center;
}

.compact .name {
    font-size: 0.7rem;
    font-weight: 550;
}